<!DOCTYPE html>
<html>
    <form method="POST" action="/group/create">
    <div>
        Group Name:<input type="text" name="name" required/>
    </div>
    <div>
        Group description: <input type="text" name="description" required/>
    </div>
    <input type="submit" value="Submit">
    </form>
</html>