<!DOCTYPE html>
<html>
    <form method="POST" action="/user">
    <div>
        Username:<input type="text" name="username" required/>
    </div>
    <input type="submit" value="Submit">
    </form>
</html>