<!DOCTYPE html>
<html>
    <head>
        <style>
            a {
                color: black;
                background-color: transparent;
                text-decoration: none;
                }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="col"> 
                {{#each r}}
                    <h3>Choose the group you want to add the recipe "{{this.title}}"</h3>
                    {{#each ../g}}
                        <form method="POST" action="/groups/recipes/{{id}}">
                        <input type="submit" value="{{name}}"/>
                        <p></p>
                    {{/each}}    
                    <input type="hidden" id="recipeId" name="recipeId" value="{{id}}">
                    </form>
                {{/each}}
            </div>
        </div>
    </body>
</html>