<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Food API</title>
        <style>
            a {
                color: black;
                background-color: transparent;
                text-decoration: none;
                }
        </style>
    </head>
    <body>
        <p></p>
        <h3>
        <a aria-current="page" href="/recipes">Check the most Popular Recipes</a>
        </h3>
        <p></p>
        <h3>
        <a aria-current="page" href="/groups">Check your groups</a>
        </h3>
        <p></p>
        <h3>
        <a aria-current="page" href="/login">Log out</a>
        </h3>
    </body>
</html>