<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{title}}
        </title>
    </head>
    <body>
        <h1>
            {{title}}
        </h1>
        <br>
        <form action="/setUser" method="POST" >
            <h5>Login:</h5>
            Insert user token
            <input type="password" id="userToken" name="userToken" required/> 
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>