<!DOCTYPE html>
<html lang="en">
    <body>
        <form action="/setUser" method="POST" >
            <h3>Login:</h3>
            <div>
                username: <input type="text" name="username" required/> 
            </div>
            <div>
                password: <input type="password" name="password" required/>
            </div>
            <input type="submit" value="Submit"/>
        </form>
        <form method="POST" action="/user">
            <h3>Sign up:</h3>
            <div>
                username: <input type="text" name="username" required/>
            </div>
            <div>
                password: <input type="password" name="password" required/>
            </div>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>